@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1280px;
    }
}
.menu-item{
    width: -moz-fit-content;  
    width: fit-content;
}
.items-menu{
    display: none;
    height: 150px;
}
.menu-item:hover + .items-menu{
    display: block;
    cursor: pointer;
}
