.cards_container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  margin: 30px 0;
}

.card {
  border-radius: 10px;
  padding: 30px 20px;
  background-color: white;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: grid;
  grid-template-rows: auto auto;
}
.card .img_text {
  padding: 0px 20px;
  display: grid;
  position: absolute;
  bottom: 0;
  grid-template-columns: auto auto;
}
.img_card{
  padding: 80px 70px;
  border-radius: 85% 0 0% 0%;
}
.card .img_text img {
  text-align: center;
  width: 100px;
}
