.title {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
.leftSide-title {
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 40px;
}
.leftSide-title > p {
  color: #3b3b3b;
  font-size: 9px;
  line-height: 13.5px;
  font-weight: 700;
  text-decoration: rgb(59, 59, 59);
  text-align: left;
}
.orgBg_btn {
  background-color: rgb(255, 147, 0);
  color: #ffffff;
  font-size: 12px;
  line-height: 48px;
  font-weight: 200;
  text-decoration: rgb(255, 255, 255);
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 0px 30px;
}
.orgBg_btn:hover {
  cursor: pointer;
}
.container {
  padding: 20px 40px;
}
header {
  background-color: #ffff;
}
hr {
  margin: 15px 0;
  border: 1px solid rgba(226, 224, 224, 0.8);
}
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.right-side {
  justify-content: flex-start;
}
nav > ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  column-gap: 30px;
}
li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #06417c;
  line-height: 24px;
  font-weight: 700;
  text-decoration: rgb(6, 65, 124);
  text-align: left;
}
.itemsMenu {
  flex-flow: column wrap;
}
.none{
  display: none;
}
.flex{
  display: flex;
}
.itemsMenu .item-menu{
  column-gap: 60px;
}
.thin {
  font-weight: 200;
  font-size: 15px;
}
.right-side > li:hover {
  cursor: pointer;
}
.item-menu {
  display: flex;
  flex-flow: row wrap;
  column-gap: 100px;
  background-color: #ffff;
  padding: 20px 40px;
  border-radius: 0px 0px 8px 8px;
  justify-items: center;
  align-content: center;
  margin: 0px 40px;
}
.item-menu > ul {
  list-style: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  row-gap: 13px;
}

a {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  column-gap: 20px;
  justify-items: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #06417c;
  line-height: 24px;
  font-weight: 700;
  text-decoration: rgb(6, 65, 124);
  text-align: left;
}
a:hover {
  color: rgb(57, 133, 209);
}
