.web-news{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.news_menu{
    display: flex;
    column-gap: 30px;
}
.news_menu p:hover{
    cursor: pointer;
    padding-bottom: 10px;
    border-bottom: 1px  solid #000; 
}
.news-content{
    display: flex;
    flex-flow: row wrap;
    column-gap: 10px;
}
.news-content .news-text p{
    flex-basis: 1/3; 
}
