.web-news{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.news_menu{
    display: flex;
    column-gap: 30px;
}
.news_menu p:hover{
    cursor: pointer;
    /* margin-bottom: 10px; */
    border-bottom: 1px  solid #000; 
}
.news-content{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    column-gap: 10px;
}
.news-content .news-text{
    /* width: 30%; */
    flex-basis: 1/3;
} 
