.web-news{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.news_menu{
    display: flex;
    column-gap: 30px;
}
.news-title{
    color: #3b3b3b;
    font-size: 32px;
    font-weight: 700;
}
.news_menu p{
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400
}
.news_menu p:hover{
    cursor: pointer;
    /* margin-bottom: 10px; */
    border-bottom: 1px  solid #000; 
}
.news-content{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
}
.news-content .news-text{
    flex: 1 0 50px;
} 
.news-text p:nth-of-type(2){
    /* font-size: calc(12px/14px); */
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #9b9b9b;

}
